[Desktop Entry]
Type=Application
Categories=Utility
Encoding=UTF-8
Name=Atomic
Comment=A mod packaging toolchain for AM2R mods.
Exec=Atomic
Icon=Atomic
Terminal=false
SingleMainWindow=true
